@use "../../sass/vars" as *;

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__home {
        color: black;
    }

    &__logo {
        font-size: 10px;
        font-family: $logofont;
    }
    &__home, &__send, &__add, &__explore, &__likes, &__profile {
        font-size: 20px;
        padding: 5px;
    }
}