@use "../../sass/vars" as *;

.profile-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__pfp {
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__midsection {
        display: flex;
        flex-direction: column;
        margin-left: 5px;

        &__username {
            font-size: 10px;
            padding-left: 5px;
            text-align: center;
        }

        &__follow {
            background: $instablue;
            padding: 10px;
            padding-left: 40px;
            padding-right: 40px;
            border-radius: 5px;
            border: 2px solid $instablue;
            color: white;
        }
    }

    &__end {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        margin-top: 10px;
        font-size: 30px;
        &__select {
            background: $instablue;
            border: 2px solid $instablue;
            border-radius: 5px;
            text-align: center;
            color: white;
            display: flex;
            margin-top: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
}